<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Tonnes</title>

  <!-- Leaflet CSS & JS -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css"
  integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
  crossorigin=""/>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.min.js"></script>
  <script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js"
  integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q=="
  crossorigin=""></script>

  <!-- Our CSS -->
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <script src="/js/config.js"></script>

</head>

<body>
  <!-- The div where we will inject our map -->
  <select id="selDataset" onchange="optionChanged(this.value)">
    <option value="Y1961">Y1961</option>
    <option value="Y1962">Y1962</option>
    <option value="Y1963">Y1963</option>
    <option value="Y1964">Y1964</option>
    <option value="Y1965">Y1965</option>
    <option value="Y1966">Y1966</option>
    <option value="Y1967">Y1967</option>
    <option value="Y1968">Y1968</option>
    <option value="Y1969">Y1969</option>
    <option value="Y1970">Y1970</option>
    <option value="Y1971">Y1971</option>
    <option value="Y1972">Y1972</option>
    <option value="Y1973">Y1973</option>
    <option value="Y1974">Y1974</option>
    <option value="Y1975">Y1975</option>
    <option value="Y1976">Y1976</option>
    <option value="Y1977">Y1977</option>
    <option value="Y1978">Y1978</option>
    <option value="Y1979">Y1979</option>
    <option value="Y1980">Y1980</option>
    <option value="Y1981">Y1981</option>
    <option value="Y1982">Y1982</option>
    <option value="Y1983">Y1983</option>
    <option value="Y1984">Y1984</option>
    <option value="Y1985">Y1985</option>
    <option value="Y1986">Y1986</option>
    <option value="Y1987">Y1987</option>
    <option value="Y1988">Y1988</option>
    <option value="Y1989">Y1989</option>
    <option value="Y1990">Y1990</option>
    <option value="Y1991">Y1990</option>
    <option value="Y1992">Y1991</option>
    <option value="Y1992">Y1992</option>
    <option value="Y1993">Y1993</option>
    <option value="Y1994">Y1994</option>
    <option value="Y1995">Y1995</option>
    <option value="Y1996">Y1996</option>
    <option value="Y1997">Y1997</option>
    <option value="Y1998">Y1998</option>
    <option value="Y1999">Y1999</option>
    <option value="Y2000">Y2000</option>
    <option value="Y2001">Y2001</option>
    <option value="Y2002">Y2002</option>
    <option value="Y2003">Y2003</option>
    <option value="Y2004">Y2004</option>
    <option value="Y2005">Y2005</option>
    <option value="Y2006">Y2006</option>
    <option value="Y2007">Y2007</option>
    <option value="Y2008">Y2008</option>
    <option value="Y2009">Y2009</option>
    <option value="Y2010">Y2010</option>
    <option value="Y2011">Y2011</option>
    <option value="Y2012">Y2012</option>
  </select>
  <div id="map"></div>

  <!-- <select>
    div.innerHTML +=
    '<i class="circle" style="background:' + getColor(categories[i]) + '"></i> ' +
     (categories[i] ? categories[i] + '<br>' : '+');
  </select> --> -->
  <!-- API key -->
  <!-- Our JS -->
  <script type="text/javascript" src="/js/logic.js"></script>
</body>
</html>
